# Arkham's nodejs .gitignore
# https://github.com/ArkhamCookie/template-nodejs

# secrets
.env*
!.env.example
!.env.test*

# package manager
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
yarn/

# cache
.cache
.eslintcache
.trash
.DS_Store

# build
out/

# conifgs
.vscode/
.idea/
.vim
