# Arkham's nodejs .gitignore
# https://github.com/ArkhamCookie/template-nodejs

# secrets
.env*
!.env.example

## package mangers
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock
yarn/*

# cache
.cache
.temp
.eslintcache

# build
out/

# configs
.vscode/
